# Build output directories
build/
buildroot-tc/

# Compiled objects and libraries
*.o
*.so
*.a

# Python
__pycache__/
*.pyc

# intermediates are included to avoid downloading the whole AP just to generate them
# Generator intermediates
# target_generator/kallsyms
# target_generator/kallsyms.txt
# target_generator/config.txt

# Test targets / QEMU test environments
tests-targets/
